<div class="text-center">
  <div class="text-center josefin-sans">
    <h3>Contact Lott Reps</h3>
  </div>
  <%= image_tag("/assets/images/loading.gif", 
    :id => "email_progress", :class => 'hide') 
  %>
  <br />
  <%= render 'contact_form' %>