<% content_for :title, "Lott Reps Admin: #{@artist.name}'s images" %>
<h2>
  <%= @artist.name %>'s images  
</h2>  
<div class="clear"></div>  
  <%= render :partial => 'upload' %>
  <div class='datatable_wrap'>
    <table id="artworks_datatable" class="table table-hover sans-serif" data-source="<%= artworks_url(format: "json", :artist_id => @artist.id) %>">
      <thead>
        <tr>
          <th>position</th>
          <th>image</th>  
          <th>name</th>
          <th>crop</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<div class="artwork-modal modal hide" id="modal-window">
  <%= render 'layouts/modal' %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
	  $('.close').click(function (event) {
		  $('.modal').modal('hide');
	  });	
	});		
</script>