/* ie fixes */

/* inputs and buttons */

.button {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

#delete_account {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#cd1d1d');
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.notice {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.error {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;

}

.alert {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

#add_habit_type { 
  -webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

#trends_dropdown {
	font-size: 80%;
	width: 200px;
	padding: 2px 0 2px 0;
	position: relative;
	top: -1px;
}

