<div class="habit_types">
  <div id="page_description">
    <h3>delete your account</h3>
    <p>we are sorry to see you leave!</p>
    <br />
    <br />
  </div>
	<%= form_for(:email, :url => {:action => 'destroy'})  do |f| %>	    
	<div class="habit_type_delete">
	  <div class="field">
	    <%= f.text_field :delete_user, :placeholder => 'confirm email' %>  
	  </div>
	  <p>this action <b>CANNOT</b> be undone and will delete your habitrack account, custom habits and all recorded habits permanently!</p> 
	  <p>please type your email to confirm</p>
	</div>
	<div><%= submit_tag "I understand, delete my account", :id => "delete_account", :class=> "button" %></div>	
	<% end %>
	
	<%= link_to "cancel", 
	      {:controller => 'settings'}, 
	      id: "cancel", 
	      :class => "button"
	%>
</div>