<div class="user_new">
  <div id="page_description">
    <h2>forgot password</h2>
    <br/>
    <p>enter your email and click reset password</p>
    <br/>
  </div>

  <%= form_for(:user, :url => {:action => 'send_reset_password'}, :html => {:autocapitalize => 'none'}) do |f| %>
   <div><%= f.text_field :email, :placeholder => 'enter email' %></div>
   
   <%= f.hidden_field :password, :value => @new_password %>
   <div><%= submit_tag "reset password", :class=> "button" %>
        <% end %>
   </div>
</div>

