<div class="row ">
  <div class="small-2 large-3 columns">&nbsp;</div>
  <div class="small-8 large-6 columns login-wrap"><%= render "login_form" %></div>
  <div class="small-2 large-3 columns">&nbsp;</div>
</div>

