<div class="center artists-modal">
  <h2 class="text-center">Add Artist/Collection</h2>
  <br />
  <%= simple_form_for @artist, 
    :url => artists_admin_create_url, 
    :method => :post,
    :remote => true do |f| 
  %>
    <%= render(:partial => 'form', 
      :locals => {:f => f} 
    ) %>
    <div class="form-buttons">
      <%= submit_tag "create", 
        :class=> "btn btn-primary" 
      %>
      <% end %>    
      <button class="btn" data-dismiss="modal" aria-hidden="true">cancel</button>
	  </div>
</div>